.highlight:hover {
  box-shadow: #a992f7 0px -4rem 0px inset;
}

.highlight {
  box-shadow: #a992f7 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

[data-theme="night"] .highlight:hover {
  box-shadow: #828ef8b4 0px -4rem 0px inset;
}

[data-theme="night"] .highlight {
  box-shadow: #828df8b4 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

[data-theme="ocean"] .highlight:hover {
  box-shadow: #115363 0px -4rem 0px inset;
}

[data-theme="ocean"] .highlight {
  box-shadow: #115363 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

option {
  background-color: #ffffff;
}

[data-theme="ocean"] option {
  background-color: #115363;
}

[data-theme="night"] option {
  background-color: #0f1729;
}

.errornotfound {
  background-image: url("/404winter.svg");
}

[data-theme="night"] .errornotfound {
  background-image: url("/404night.svg");
}

[data-theme="ocean"] .errornotfound {
  background-image: url("/404ocean.svg");
}
