.highlight:hover {
  box-shadow: #a992f7 0px -4rem 0px inset;
}

.highlight {
  box-shadow: #a992f7 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

[data-theme="night"] .highlight:hover {
  box-shadow: #828ef8b4 0px -4rem 0px inset;
}

[data-theme="night"] .highlight {
  box-shadow: #828df8b4 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

option {
  background-color: #ffffff;
}

[data-theme="night"] option {
  background-color: #0f1729;
}

.errornotfound {
  background-image: url("/404winter.svg");
}

[data-theme="night"] .errornotfound {
  background-image: url("/404night.svg");
}

.logo-lynx {
  background-image: url("/logowinter.png");
  background-size: 100%;
}

[data-theme="night"] .logo-lynx {
  background-image: url("/logonight.png");
  background-size: 100%;
}

@keyframes magic-text {
  from {
    background-position: 400% center;
  }

  to {
    background-position: 100% center;
  }
}

.magic:hover {
  animation-play-state: running;
}

.magic:not(:hover) {
  animation: none;
}

[data-theme="night"] .magic:hover {
  animation-play-state: running;
}

[data-theme="night"] .magic:not(:hover) {
  animation: none;
}

.magic {
  animation: magic-text 1.8s ease-in-out infinite paused;
  background: linear-gradient(100deg, #394e6a 10%, #fff 30%, #394e6a 70%);
  background-size: 300%;
  background-position: 400% center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

[data-theme="night"] .magic {
  animation: magic-text 1.8s ease-in-out infinite paused;
  background: linear-gradient(100deg, #b4c6ef 10%, #141d33 30%, #b4c6ef 70%);
  background-size: 300%;
  background-position: -50% center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
