:root {
  --highlight-color: #a992f7;
  --option-bg-color: #ffffff;
  --logo-image: url("/logowinter.png");
  --gradient-start: #394e6a;
  --gradient-mid: #fff;
  --gradient-end: #394e6a;
}

[data-theme="night"] {
  --highlight-color: #828ef8b4;
  --option-bg-color: #0f1729;
  --logo-image: url("/logonight.png");
  --gradient-start: #b4c6ef;
  --gradient-mid: #141d33;
  --gradient-end: #b4c6ef;
}

.highlight:hover {
  box-shadow: var(--highlight-color) 0px -4rem 0px inset;
}

.highlight {
  box-shadow: var(--highlight-color) 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

option {
  background-color: var(--option-bg-color);
}

.logo-lynx {
  background-image: var(--logo-image);
  background-size: 100%;
}

.magic:hover {
  animation-play-state: running;
}

.magic:not(:hover) {
  animation: none;
}

.magic {
  animation: magic-text 1.4s ease-in-out paused;
  background: linear-gradient(
    100deg,
    var(--gradient-start) 10%,
    var(--gradient-mid) 30%,
    var(--gradient-end) 70%
  );
  background-size: 300%;
  background-position: -50% center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes magic-text {
  from {
    background-position: 400% center;
  }

  to {
    background-position: 250% center;
  }
}
