:root {
  --logo-image: url("/logowinter.png");
}

[data-theme="night"] {
  --logo-image: url("/logonight.png");
}

.highlight:hover {
  box-shadow: var(--highlight-color) 0px -4rem 0px inset;
}

.highlight {
  box-shadow: var(--highlight-color) 0px -1rem 0px inset;
  transition: box-shadow 0.3s ease-out 0s;
}

option {
  background-color: var(--option-bg-color);
}

.logo-lynx {
  background-image: var(--logo-image);
  background-size: 100%;
}

.magic {
  @apply bg-gradient-to-r from-base-content to-success bg-clip-text text-transparent brightness-[.7];
}
[data-theme="night"] .magic {
  @apply bg-gradient-to-r from-base-content to-secondary bg-clip-text text-transparent brightness-100;
}

.toc-link.active {
  @apply underline underline-offset-4;
}
