---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Contact">
    <form class="flex flex-col">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="input input-bordered">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="input input-bordered">

        <label for="message">Message:</label>
        <textarea id="message" name="message" class="input input-bordered"></textarea>

        <button type="submit" class="btn" id="submit">Submit</button>
    </form>
    <script>
        import { actions } from 'astro:actions';
      
        const form = document.querySelector('form');
        form?.addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          const { error } = await actions.mail(formData);
          if (!error) {
            document.getElementById('submit').textContent = 'Message sent!';
          }
        })
      </script>
</MainLayout>