---
import MainLayout from "../layouts/MainLayout.astro";
import Typewriter from "typewriter-effect/dist/core";
---

<MainLayout title="Home">
  <div class="flex md:flex-row flex-col">
    <div
      id="title"
      class="md:pt-16 pt-8 md:text-6xl text-4xl ml-0 md:ml-16 align-bottom flex flex-col"
    >
      <span class="pt-8 md:pt-0 md:text-6xl text-5xl"
        >Hey! I'm <span
          class="highlight inline-block font-extrabold pl-1 pr-1 w-fit"
          >Eric</span
        >
      </span>

      <span class="mt-8 md:pt-0 md:text-4xl text-2xl"
        >But you can call me <span
          class="highlight inline-block font-extrabold pl-1 pr-1 w-fit"
          >Lyenx</span
        >
      </span>

      <p class="text-3xl md:mt-24 mt-16">I'm a <span id="writer"></span></p>
    </div>
    <div
      id="test"
      class="outline outline-red-800 outline-2 h-[60vh] w-auto md:w-[528px] mt-28 md:ml-48"
    >
    </div>
  </div>
  <script>
    import Typewriter from "typewriter-effect/dist/core";
    document.addEventListener("DOMContentLoaded", () => {
      const typed = document.getElementById("writer");
      const tw = new Typewriter(typed, {
        loop: true,
        autoStart: true,
      });
      tw.typeString("student - <i class='fa fa-graduation-cap' />")
        .pauseFor("3000")
        .deleteChars("10")
        .pauseFor("200")
        .typeString("developer - <i class='fa fa-code' />")
        .pauseFor("3000")
        .deleteChars("12")
        .pauseFor("200")
        .typeString("guitarist - <i class='fa fa-guitar' />")
        .pauseFor("3000")
        .deleteChars("12")
        .pauseFor("200")
        .start();
    });
  </script>
</MainLayout>
