---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Home">
  <div id="header" class="flex flex-col md:flex-row">
    <div id="title" class="flex flex-col pt-8 align-bottom text-2xl md:pt-16">
      <span class="pt-8 text-6xl md:pt-0 md:text-8xl"
        >Hey there, I'm <span class="magic font-bold">Eric.</span>
      </span>

      <span class="mt-8 text-4xl md:pt-0 md:text-5xl"
        >Also known as <span class="magic font-bold">Lyenx.</span>
      </span>

      <p class="mt-16 flex gap-2 text-3xl md:mt-24 md:text-4xl">
        I'm a <span class="magic">developer,</span>
      </p>
      <p class="mt-1 md:mt-3">
        but also a student, a musician, a gamer, a nerd and all sorts of things,
        really.
      </p>
    </div>
  </div>
</MainLayout>
