---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Skills">
  <div
    class="relative mt-[16vmin] left-1/2 max-w-fit text-4xl -translate-x-1/2"
  >
    Skills :
  </div>
  <div
    class="relative md:flex block mt-8 left-1/2 max-w-fit text-4xl -translate-x-1/2 md:space-x-16 md:space-y-0 space-y-8"
  >
    <img
      title="Python"
      alt="python logo"
      src="./python.png"
      class="h-24 mx-auto"
    />
    <img title="HTML5" alt="html logo" src="./html.png" class="h-24 mx-auto" />
    <img
      title="CSS3"
      alt="css logo"
      src="./css.png"
      class="h-24 mx-auto md:mt-0"
    />
    <img
      title="JavaScript"
      alt="javascript logo"
      src="./javascript.png"
      class="h-24"
    />
    <img
      title="Astro.js"
      alt="astro logo"
      src="./astro2.png"
      class="h-[96px]"
    />
    <img
      title="Tailwind CSS"
      alt="tailwind css logo"
      src="./tailwind.png"
      class="h-24"
    />
  </div>
  <div class="relative mt-16 left-1/2 max-w-fit text-3xl -translate-x-1/2">
    Learning :
  </div>
  <div
    class="relative flex mt-8 left-1/2 max-w-fit text-4xl -translate-x-1/2 space-x-4"
  >
    <img title="React" alt="react logo" src="./react.png" class="h-20" />
  </div>
</MainLayout>
