<footer
  class="absolute h-24 w-full items-center justify-center flex flex-col bottom-0"
>
  <div class="flex justify-center space-x-2">
    <p>This website uses cookies.</p>
    <a href="/cookies" class="hover:text-slate-400 transition-colors underline"
      >Cookies Declaration</a
    >
  </div>
  <div>
    &copy; Lyenx, {new Date().getFullYear()}
  </div>
</footer>
