---
const {
  title = "Default",
  description = "If you want to find out about Lyenx's projects or social medias, this is the right place !",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title + " | Lyenx"}</title>

<link rel="icon" href="/logo.png" />
<script
  defer
  src="https://kit.fontawesome.com/20ce1f4355.js"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/theme-change@2.2.0/index.js"></script>
