---
import { Icon } from "astro-icon/components";
---

<label
  class="btn btn-square btn-ghost swap swap-rotate"
  data-toggle-theme="night"
  data-act-class="swap-active"
>
  <Icon name="carbon:sun" class="swap-on text-3xl" />
  <Icon name="carbon:moon" class="swap-off text-3xl" />
</label>
