<select
  data-choose-theme
  class="select w-32 h-auto text-base focus:outline-0 active:text-inherit active:bg-inherit"
>
  <option value="">Winter</option>
  <option value="ocean">Ocean</option>
  <option value="night">Night</option>
</select>
