---
import Nav from "../components/Nav.astro";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html>
  <head>
    <MainHead title={title} />
  </head>
  <body class="bg-zinc-400 dark:bg-slate-800 relative min-h-screen">
    <Nav />
    <div class="pb-20">
      <slot />
    </div>
    <Footer />
    <script
      id="CookieDeclaration"
      src="https://consent.cookiebot.com/7be4e400-e214-4531-a509-f153d1669561/cd.js"
      type="text/javascript"
      async
    ></script>
  </body>
</html>
