---
import Nav from "../components/Nav.astro";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} />
  </head>
  <body class="relative mx-6 flex min-h-screen flex-col items-center">
    <div class="w-full max-w-5xl flex-grow">
      <Nav />
      <div class="animate-content-fade pb-32 md:pb-28">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
